/* page.css */

@keyframes bounceEffect {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.cme-float-image {
  position: fixed;
  bottom: 60px;
  right: 20px;
  z-index: 999999;
  animation: bounceEffect 2s infinite;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 20px;
  overflow: hidden;
}

.cme-float-image {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 217, 0, 0.934);
}
